<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{Title}}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
<div style="background-color:black" >
<b><h1 align="center" >
    <br>
    <font size="500" style="color:white">
        Mrnd Colleges
    </font>
</h1>
</b>
    <br>
</div>
    <a href="{% url 'logout_page'%}"class="button is-dark" style="float:right">logout</a><br>
<br>

<a href=http://127.0.0.1:8000/college/add class="button is-dark"> + Add colleges</a><br>
<br>
<br>

<table class="table" align="center" width="800">
    <thead>
    <tr>
        <th>
            College name
        </th>
        <th>
            Location
        </th>
          <th>
            College Code
        </th>
        {% if 'onlineapp.delete_collge' in user_permissions %}
        <th>
            Operation
        </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>

{% for college in key %}
<tr>

    <td><a href={{college.id}}>{{college.name}}</a></td>
    <td>{{college.location}}</td>
    <td><a href={{college.id}}>{{college.acronym}}</a></td>
    {% if 'onlineapp.delete_collge' in user_permissions %}
    <td> <a href="{{college.id}}/edit">Edit | <a href="{{college.id}}/delete">Delete</a></a>
        {% endif %}
    </td>
</tr>
{%endfor%}
    </tbody>
</table>
</body>
</html>