<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<div style="background-color:black" >
<b><h1 align="center" >
    <br>
    <font size="500" style="color:white">
        Login
    </font>

</h1></b>
    <br>
</div>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
    <br>
    <br>
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{message.tags}}"{%endif%}>{{message}}</li>
    {% endfor %}
</ul>
{%endif%}
<br>
<a href="{% url 'signup_page'%}">Signup</a>

</body>
</html>