<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
<div style="background-color:black" >
<b>
    <h1 align="center" >
    <br>
    <font size="500" style="color:white">
        Be one of us <sub style="font-size:15px">Register now</sub>
    </font>
    </h1>
</b>
    <br>
</div>
 <a href="{% url 'logout_page'%}"class="button is-dark" style="float:right">logout</a><br>
<form method="POST">
    {% csrf_token %}
    {{form1.as_p}}
    {{form2.as_p}}
    <input type="submit">
</form>

</body>
</html>