<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>College Registration</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
<div style="background-color:black" >
<b><h1 align="center" >
    <br>
    <font size="500" style="color:white">
        Register your college
    </font>

</h1></b>
    <br>
</div>
 <a href="{% url 'logout_page'%}"class="button is-dark" style="float:right">logout</a><br>
<br>
 <div class="control">
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
</form>
 </div>
</body>
</html>