<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
</head>
<body>
<div style="background-color:black" >
<b><h1 align="center" >
    <br>
    <font size="500" style="color:white">
        Sign-up
    </font>

</h1></b>
    <br>
</div>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
    <br>
</form>

</body>
</html>