<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{Title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
<div style="background-color:black" >
<b><h1 align="center" >
    <br>
    <font size="500" style="color:white">
       {{Title}}
    </font>

</h1></b>
    <br>
</div>
 <a href="{% url 'logout_page'%}"class="button is-dark" style="float:right">logout</a><br>
<br>
<a href="{% url 'addstudent' id %}" class="button is-dark"> + Add Students</a><br>
<table class="table" align="center" >
    <thead>
    <tr>

        <th>
            Student name
        </th>
        <th>
            Email
        </th>
          <th>
            Marks
        </th>
         <th>
            Operation
        </th>
    </tr>
    </thead>
    <tbody>

{% for s in students %}
<tr>
    <td>{{s.name}}</td>
    <td>{{s.email}}</td>
    <td>{{s.mocktest1.total}}</td>
    <td> <a href="{% url 'editstudent' s.id %}">Edit | <a href="{% url 'deletestudent' s.id %}">Delete</a></a>
</tr>
{%endfor%}
    </tbody>
</table>
</body>
</html>